@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
  outline: none;
  padding: 0;
  margin: 0;
}
.main .header .column.cart {
  position: relative;
}
.v-catalog_to_cart{
  position: absolute;
  top: 0;
  right: 36px;
  color: black;
  font-size: 18px;
}

.main{
  width: 100%;
}
.main .header{
  display: flex;
  flex-direction: row;
  height: 6.25em;
  background-color:#ffff;
  padding-top: 0.938em;
}

.header .column{
  padding-right: 3.438em;
  margin-right: 27px;


}
.header .column.dropdown{
  position: relative;
  display: inline-block;

}
.dropdown-content{
  display: none;
  position: absolute;
  z-index: 1;
  margin-left: -10px;

}
.dropdown .dropdown-content a{
  text-decoration: none;
  display: block;
  font-size: 16px;
  background: rgba(224,224,224,.8);
  box-shadow: 0 0 8px 0 #e0e0e0;
  padding: 3px;

}
.dropdown:hover .dropdown-content {
  display: block;
}



.header .column a{
  text-decoration: none;
}


.header .column a p{
  color: #000;
  font: 400 1.375em 'Montserrat Alternates', sans-serif;
  padding-top: 0.625em;
}
.header .column a p:hover{
  opacity: 50%;
  cursor: pointer;

}
.main .header .column a i:hover{
  opacity: 50%;
  cursor: pointer;

}
.main .header .column a i{
  font-size: 1.438em;
  color:#000;
  margin: 0.625em -0.188em 0 1em;
}
footer .sporttime{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 62px 10px 0px 60px;

}
footer .sporttime .column.first {
  width: 489px;
  margin-right: 25px;
}
footer .sporttime .column.first h3 {
  color: rgb(204, 204, 204);
  text-align: left;
  padding-bottom: 16px;
  font: 700 46px Montserrat, sans-serif;
}
footer .sporttime .column.third .instagram img {
  vertical-align: 0px;
}
footer .sporttime .column.first .lorem p {
  color: rgb(153, 153, 153);
  text-align: left;
  padding-bottom: 8px;
  font: 400 15px / 24px Roboto, sans-serif;
}
footer .sporttime .column.first .followers {
  text-align: left;
  padding-bottom: 16px;
  font: 400 14px Montserrat, sans-serif;
  border-bottom: 1px solid rgb(229, 229, 229);
}
footer .sporttime .column.first .followers span {
  font: 700 14px Montserrat, sans-serif;
  padding: 0px 5px 0px 6px;
}
footer .sporttime .column.first .follow {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}
footer .sporttime .column.first .follow span {
  color: rgb(153, 153, 153);
  text-align: left;
  padding-top: 16px;
  padding-right: 7px;
  font: italic 300 15px Roboto, sans-serif;
}
footer .sporttime .column.first .follow .icon {
  display: flex;
}
footer .sporttime .column.first .follow .icon a {
  text-decoration: none;
}
footer .sporttime .column.first .follow .icon a svg {
  fill: rgb(149, 225, 211);
  width: 16px;
  height: 16px;
  margin: 16px -1px 38px 15px;
}
footer .sporttime .column.second {
  width: 382px;
}
footer .sporttime .column.second h3 {
  text-transform: uppercase;
  text-align: left;
  font: 700 14px Montserrat, sans-serif;
  padding: 13px 0px 28px;
}
footer .sporttime .column.second .blog {
  display: flex;
  margin-bottom: 29px;
}
footer .sporttime .column.second .blog img {
  height: 81px;
  width: 110px;
  object-fit: cover;
}
footer .sporttime .column.second .blog .word {
  text-align: left;
}
footer .sporttime .column.second .blog .word p {
  text-transform: uppercase;
  margin-bottom: 4px;
  font: 600 12px Montserrat, sans-serif;
  padding: 20px 0px 0px 20px;
}
footer .sporttime .column.second .blog .word span {
  color: rgb(153, 153, 153);
  padding-left: 20px;
  font: italic 300 13px Roboto, sans-serif;
}
footer .sporttime .column.third {
  margin-left: 36px;
  display: flex;
  flex-wrap: wrap;
  width: 273px;
}
footer .sporttime .column.third h3 {
  text-transform: uppercase;
  font: 700 14px Montserrat, sans-serif;
  padding: 13px 0px 0px 1px;
}
footer .sporttime .column.third .instagram {
  margin-top: 16px;
  margin-left: -16px;
}
footer .sporttime .column.third .instagram img{
  height: 88px;
  width: 88px;
  object-fit: cover;
  margin-right: 4px;
}
footer .sporttime .column.third a {
  cursor: pointer;
  color: black;
  margin-top: 17px;
  margin-left: 10px;
  text-decoration: none;
  margin-bottom: 10px;
}

a{
  text-decoration: none;
}


